name: Build VSIX Package

on:
  release:
    types:
      - created
  workflow_dispatch:

jobs:

  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 24.x

    - run: npm install

    - if: runner.os == 'Linux'
      run: xvfb-run -a npm test
    - if: runner.os != 'Linux'
      run: npm test

    - name: Build
      if: success()
      run: |
        npx -y @vscode/vsce ls
        npm run package

    - uses: actions/upload-artifact@v4
      if: runner.os == 'Linux'
      with:
        path: '**/*.vsix'
