name: Deploy to VS Code Marketplace

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:

  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 24.x

    - run: npm install

    - if: runner.os == 'Linux'
      run: xvfb-run -a npm test
    - if: runner.os != 'Linux'
      run: npm test

    - name: Publish
      if: success() && startsWith(github.ref, 'refs/tags/')
      run: npm run deploy
      env:
        VSCE_PAT: ${{ secrets.VSCE_PAT }}
