name: test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  #release:
  #  types: [ published ]
  workflow_call:
  workflow_dispatch:

jobs:

  test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 24.x

    - run: npm ci

    - if: runner.os == 'Linux'
      run: xvfb-run -a npm test
    - if: runner.os != 'Linux'
      run: npm test
